body {
  background-color: #111111;
  font-family: Arial, Verdana, sans-serif;
  color: #FFFFFF;
  height: 100%; }

a {
  color: #FFFFFF;
  text-decoration:none;
  display: block;
  background: url("/images/iPhoneArrow.png") no-repeat scroll right center transparent;
  &:hover {
    color: #dbe2e3;
  }
  &.stop {
    padding: 15px 0px;
    p {
      font-size: 150%;
      margin: 3px 0px;
      font-weight: bold;
      span {
        font-size: 90%;
      }
    }
  }
}

span {
  &.routename {
    font-size: 250%;
    font-weight: bold;
  }
  &.info {
    font-size: 150%;
    font-family: "Courier New" , Courier , monospace ; 
    font-weight: bold;
  }
}
@media all and (max-device-width: 480px){
  body{
    font: 43.34px Arial, Verdana, sans-serif;
    padding:5px; }
  #content {
    width: 100%; }
  .experience {
    img {
      display: none; } }
  input, button, textarea, select {
    font-size: 1.5em; }
  ul {
    &.nav {
      a {
        font-size: 1.5em;
        padding: 30px; } } }
  header {
    h1 {
      font-size: 1.6em; } } }

#container {height: 500px;}
#left      {float:left; padding-right:10px}
#right     {float:left;}
#text      {float:left;}
#max       {float:left;}
