%script 
  function geolocate() {
  var latitude, longitude = 0;
  navigator.geolocation.getCurrentPosition(function(position) {
  latitude = position.coords.latitude; longitude = position.coords.longitude;
  //alert(latitude, longitude);
  ="window.location = ('#{url_for(:action => :in_region)}?lat=' + latitude + '&long=' + longitude);"
  })
  }
  
%p
  NSW Bus Info lets you see the upcomming arrival times for busses, just find your bus stop and we will show you where you bus is in real time.
  
%h3
  %a{:href => "#", :onclick => "geolocate()"}
    locate me
%h2 OR
%h3
  %form{:action => "stop/search", :method => "post"}
    %input{:type => "hidden", :name => "authenticity_token", :value => form_authenticity_token}
    %label{:for => "search"} search for a stop:
    %input{:type => "text", :name => "search"}
