%script 
  function geolocate() {
  var latitude, longitude = 0;
  navigator.geolocation.getCurrentPosition(function(position) {
  latitude = position.coords.latitude; longitude = position.coords.longitude;
  //alert(latitude, longitude);
  window.location = ("http://localhost:3000/stop/in_region?lat=" + latitude + "&long=" + longitude)
  })
  }
  
%h2 Find a bus stop
%h3 Show me stops near my location
%a{:href => "#", :onclick => "geolocate()"}Locate me
%h2 Or
%h3 search for stops
%form{:action => "stop/search", :method => "post"}
  %input{:type => "hidden", :name => "authenticity_token", :value => form_authenticity_token}
  %label{:for => "search"} "Stop name:"
  %input{:type => "text", :name => "search"}
