%script 
  var latitude, longitude = 0;
  navigator.geolocation.getCurrentPosition(function(position) {
  latitude = position.coords.latitude; longitude = position.coords.longitude;
  document.getElementById('latitude').innerHTML = latitude;
  document.getElementById('longitude').innerHTML = longitude;
  document.getElementById('link').innerHTML = 
  "<a href=\"/stop/in_region?lat=" + latitude + "&long=" + longitude + "\">Show stops near me</a>"
  })

%h2 Bus Stops
- @stop_descriptions.each do |stop_description|
  %a.stop{:href => show_stop_path(stop_description)}
    %p= stop_description.tsndescription
    %p
      - stop_description.stops.each do |stop|
        %span{:style => "color: #{route_colour(stop.routename)};"}
          = stop.routename
%h2
  = link_to "Home", root_path
