!!!
%html
  %head
    %title NSW Bus Info (very beta)
    = stylesheet_link_tag 'application'
    /[if IE]
      =javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
    = csrf_meta_tag
  %body
    = yield
